<div class="container form">

      <div class="form-signup">
        <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= f.error_notification %>
        <div class="form-inputs">
        <%= f.input :first_name,
                 required: true,
                 autofocus: true,
                 input_html: { autocomplete: "first_name", class: 'input-field'}%>
    <%= f.input :last_name,
                 required: true,
                 autofocus: true,
                 input_html: { autocomplete: "last_name", class: 'input-field' }%>
    <%= f.input :email,
                required: true,
                autofocus: true,
                input_html: { autocomplete: "email", class: 'input-field' }%>
    <%= f.input :password,
                required: true,
                input_html: { autocomplete: "new-password", class: 'input-field' } %>
    <%= f.input :password_confirmation,
                required: true,
                input_html: { autocomplete: "new-password", class: 'input-field'} %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Create Account", class: 'search-btn' %>
  </div>
<% end %>

<% render "devise/shared/links" %>
          </div>
        </div>
