<br>
<!-- CATEGORY ICONS MENU -->
<div class="d-flex justify-content-around" id="category-div">
  <a href="<%= icon_link('Gelateria') %>">
    <img
    src="https://i.ibb.co/m9qvpYN/Untitled-1-01.png"
    class="<%= icon_class('Gelateria') %>"
    height="42"
    width="42">
  </a>
  <a href="<%= icon_link('Pizzeria') %>">
    <img
    src="https://i.ibb.co/NyXYby6/Untitled-1-02.png"
    class="<%= icon_class('Pizzeria') %>"
    height="42" width="42">
  </a>
  <a href="<%= icon_link('Osteria') %>">
    <img
    src="https://i.ibb.co/ZhFtY4g/Untitled-1-03.png"
    class="<%= icon_class('Osteria') %>"
    height="42" width="42">
  </a>
  <a href="<%= icon_link('Barbiere') %>">
    <img
    src="https://i.ibb.co/Tbf2hwS/Untitled-1-05.png"
    class="<%= icon_class('Barbiere') %>"
    height="42" width="42">
  </a>
  <a href="<%= icon_link('Marijuana') %>">
    <img
    src="https://i.ibb.co/0cTFXFQ/Untitled-1-04.png"
    class="<%= icon_class('Marijuana') %>"
    height="42" width="42">
  </a>
</div>
<br>
<!-- LIST OF SHOPS -->
<% @shops.each do |shop| %>
<a href="shops/<%=shop.id %>" id="link">
  <div class="d-flex mx-auto" style="width: 350px;" id="cards">
    <div class="mr-auto p-2">
      <h1 id="title">
        <%= shop.name %>
      </h1>
      <h3 id="description">
        <%= shop.address %>
      </h3>
      <h3>
      <% card = Card.find_by(shop:shop, user:current_user, status:"pending").present? %>
      <% card_completed = Card.find_by(shop:shop, user:current_user, status:"completed").present? %>
      <% if card %>
      <div class="d-flex justify-content-start">
        <% stars = shop.user_stars(current_user) %>
        <% shop.max_stars.to_i.times do |i| %>
        <% if stars <= i %>
        <div id="circle"> </div>
        <% else %>
        <div id="circle-check"> </div>
        <% end %>
        <% end %>
      </div>
      <% end %>
      </h3>
       <h3>
      <% if card_completed %>
      <div class="d-flex justify-content-start">
        <% shop.max_stars.to_i.times do |i| %>
        <div id="circle"> </div>
        <% end %>
      </div>
      <% end %>
      </h3>
    </div>
    <div class="shop-avatar"><img src="<%= shop.photo %> "height="60" width="60" id="img-card"></div>
  </div>
</a>
<br>
<% end %>
<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body justify-content-center">
        <div
          id="map"
          style="width: 100%;
          height: 300px;"
          data-markers="<%= @markers.to_json %>"
          data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
        ></div>
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>
<div class="d-flex" id="map-button">
  <div class="ml-auto p-2">
    <!-- Button trigger modal -->
    <img src="https://i.ibb.co/rZ4MXps/icons-03.png" data-toggle="modal" data-target="#exampleModalLong" height="42" width="42">
    <br>
  </div>
</div>
