<% content_for :meta_title, "#{@shop.name} is on #{DEFAULT_META["meta_product_name"]}" %>
<% content_for :meta_description, @shop.description %>
<% content_for :meta_image, @shop.photo %>
<div>
  <div class="show-banner" style="position: center bottom; background-size: cover; background-color: $white;background-image: url('<%= @shop.photo %>'); height: 200px; opacity: 0.9;" >
  </div>
</div>
<div class="d-flex justify-content-center p-4" id="name">
  <div class="d-flex flex-column">
    <div> <h3 id="h3"><%= @shop.name %></h3></div>
    <a href="" class="d-flex justify-content-center" data-toggle="modal" data-target="#map-show-pop" id="link">
      <img src="https://i.ibb.co/rZ4MXps/icons-03.png" alt="" height="9'" width="9">
      <h3 id="address"><%= @shop.address %></h3>
    </a>
  </div>
</div>
<br>
<div class="d-flex mx-auto justify-content-between" style="width: 350px;" id="cards">
  <div class="d-flex flex-column">
    <div class="p-2"> <h3 class=" d-flex mx-auto justify-content-center"id="description"> <%= @shop.description %>. </h3></div>
    <% if @shop.promotions.present? %>
    <div class="p-2">
      <div class="d-flex mx-auto justify-content-center" id="promo-button"> <button href="" data-toggle="modal" data-target="#promo-pop" id="link"> <h2 class="d-flex mx-auto justify-content-center">See promotions!</h2>
        </button>
      </div>
    </div>
    <% end %>
  </div>
</div>
<br>
</div>
<% if @card.present? %>
<div class="d-flex mx-auto" style="width: 350px;" id="cards">
<div class="mr-auto p-2">
  <h1 id="title">loyality card progress:</h1>
  <div class="d-flex justify-content-start">
    <% stars = @shop.user_stars(current_user) %>
    <% @shop.max_stars.to_i.times do |i| %>
    <% if stars <= i %>
    <div id="circle"> </div>
    <% else %>
    <div id="circle-check"> </div>
    <% end %>
    <% end %>
  </div>
</div>
<% else %>
<% if @cards.first.present? %>
<div class="d-flex mx-auto" style="width: 350px;" id="cards">
  <div class="mr-auto p-2">
    <h1 id="title">loyality card progress:</h1>
    <div class="d-flex justify-content-start">
      <div id="shop-redeem-alert">Congratulation! You can redeem this card 🎉 </div>
    </div>
  </div>
</div>
<% else %>
<div class="d-flex mx-auto" style="width: 200px;" id="cardsnoshop">
  <h3 class=" d-flex mx-auto justify-content-center"id="noshop"> "You don't have a loyality card, yet!" </h3>
</div>
<% end %>
<% end %>
<div class="modal fade" id="promo-pop" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <% @shop.promotions.each do |promotion|  %>
        <div>
          <div class="promo-container" id="cards">
            <div class="promo-info">
              <h1 id="title"> <%= promotion.name.capitalize %> </h1>
              <h3 id="description"> <%= promotion.description.capitalize %> </h3>
            </div>
          </div>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="map-show-pop" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div
          id="map"
          style="width: 100%;
          height: 300px;"
          data-markers="<%= @markers.to_json %>"
          data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
        ></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
