<!-- <div class="show-banner" style="position: center bottom; background-size: cover; background-image: url('<%= @shop.photo %>');">
</div> -->


<div class="container justify-content-center" >
  <%= @shop.photo %>
  <div class="row">
    <div class="col-xs-12 col-sm-6">
      <div class="shop-wrapper">
        <div class="shop-info">
          <strong><h1><%= @shop.name %></h1></strong>
          <p>Shop owner: <%= @shop.user.first_name.capitalize %> </p>
          <p><%= @shop.category.capitalize %></p>
          <p><%= @shop.address.capitalize %></p>
        </div>

        <div class="description mb-3">
          <h2>Description</h2>
          <p><%= @shop.description.capitalize %>.</p>
        </div>
      </div>
    </div>
  </div>

    <div>
      <% @cards.each do |card| %>
       <%= card.shop.user.first_name.capitalize %>
      <%= card.star_count %>
      <% end %>
    </div>

</div>





