<div class="d-flex">


  <div>
    <%= render 'shared/navbar.html.erb' %>
  </div>

  <div class="cards-container-dashboard">
    <% @shops.each do |shop| %>
    <div>
      <%= link_to shop_path(shop) do %>
      <div class="card-trip">
        <div class="card-trip-infos">
          <div>
            <h2><%= shop.name %></h2>
            <p>Number of stars: <%= @cards.first.star_count %> out of 10</p>
          </div>
          <h2 class="card-trip-stars">icon of the category</h2>
          <img category icon>
        </div>
      </div>
      <% end %>
    </div>

    <% end %>

  </div>

<!-- show qr code
-->
<div class="popup-me">APRI POPUP</div>





<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
  Launch demo modal
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= current_user.qr %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

</div>






