<div class="avatar-card">
    <div class="name-user">
      <img src='<%= current_user.photo %>' id="avatar-bordered"></img>
    </div>
    <div class="name-user">
      <p><strong>Welcome <%= current_user.first_name %></strong>
      <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %></p>
    </div>
  </div>
<br>


<div id="cards-ajax" class="cards-container-dashboard">
  <% @user.cards.each do |card| %>
  <div>
    <%= link_to shop_path(card.shop.id) do %>
    <div class="promo-container" id="cards">
      <div class="promo-info">
        <%shop = Shop.find(card.shop_id) %>
        <h1 id="title"><%= shop.name %> </h1>
          <div class="d-flex justify-content-center">
            <% stars = card.star_count %>
            <% card.shop.max_stars.to_i.times do |i| %>
            <% if stars <= i %>
            <div id="circle"> </div>
            <% else %>
            <div id="circle-check"> </div>
            <% end %>
            <% end %>
          </div>
      </div>

      <div class="shop-pic"><img src="<%= shop.photo %> "height="60" width="60" id="img-card">
      </div>
    </div>
    <br>
    <% end %>
  </div>
  <% end %>
</div>

