

<div class="align-items-lg-stretch">

  <div class="avatar-card">

    <div class="name-user">
      <img src='<%= current_user.photo %>' id="avatar-bordered"></img>
    </div>

    <div class="name-user">
      <p>Welcome <%= current_user.first_name %>!</p>
    </div>

  </div>



  <div class="cards-container-dashboard">
    <% @user.cards.each do |card| %>
    <div>
      <%= link_to shop_path(card.shop.id) do %>
      <div class="card-trip">
        <div class="card-trip-infos">
          <div>
            <%shop = Shop.find(card.shop_id) %>
            <h2><%= shop.name %></h2>
            <p>Number of stars: <%= card.star_count %> out of 10</p>
          </div>
          <img category icon>
        </div>
      </div>
      <% end %>
    </div>


    <% end %>

  </div>

</div>


<!-- Button trigger modal -->
<div>
  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" id="bottone">
    QR
  </button>
</div>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Your Personal QR code</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= current_user.qr.html_safe%>
      </div>
      <!-- <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div> -->
    </div>
  </div>
</div>









