
<!-- _owner_dashboard.html.erb
 -->
<div>
  <div class="show-banner" style="position: center bottom; background-size: cover; background-image: url('<%= @user.shop.photo %>');">
  </div>
</div>

  <div class="avatar-card">
    <div>
      <div class="name-user">
        <p><strong>Welcome <%= @user.first_name %></strong></p>
      </div>
    </div>
  </div>

<br>

<div class="d-flex mx-auto" style="width: 350px;" id="cards">
    <div class="shop-info">
      <div class="mr-auto p-2">
      <div>
        <h3 class="mb-4"> <%= @user.shop.name %> </h3>
        <p> <%= @user.shop.address %> </p>
        <p> <%= @user.shop.category.name %> </p>
        <p> <%= @user.shop.description %> </p>
        <div class="btn-container">
          <button type="button" class="btn" id="btn-edit">
            <%= link_to "Edit info", edit_shop_path(@user.shop)%>
          </button>
          <button type="button" class="btn" id="btn-add">
            <%= link_to "Add promotion", new_shop_promotion_path(@user.shop.id,Promotion.new) %>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<br>

<div class="cards-container-dashboard">
  <% @promotions.each do |promotion|  %>
  <div>
     <div class="d-flex mx-auto" style="width: 350px;" id="cards">
      <div class="mr-auto p-2">
        <div>
          <h1 id="title"> Promotion name: <%= promotion.name %> </h1>
          <h3 id="description"> Promotion description: <%= promotion.description %> </h3>
            <div class="btn-container">
              <button type="button" class="btn" id="btn-edit">
                <%= link_to "Edit", edit_shop_promotion_path(@user.shop, promotion)%>
              </button>
               <button type="button" class="btn" id="btn-delete">
                  <%= link_to "Delete", shop_promotion_path(@user.shop, promotion), method: :delete,
                      data: { confirm: "Are you sure?" } %>
              </button>
            </div>
          </div>
        </div>
      </div>
    <br>
    <% end %>
  </div>
</div>

<div class="d-flex justify-content-center">
  <button type="button" class="btn" id="btn-delete">
    <%= link_to "Log out", destroy_user_session_path, method: :delete %>
  </button>
</div>

<div class="d-flex" id="map-button">
  <div class="ml-auto p-2">
      <label class="cameraButton" >
          <input type="file" accept="image/*;capture=camera">
      </label>
    <br>
  </div>
</div>



