<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta property="og:image" content="images/og-image.png" />
    <meta property="og:title" content="Fidelis" />
    <meta property="og:description" content="Bringing you closer to your favourite shops" />
    <title>fidelis</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= stylesheet_pack_tag 'application', media: 'all' %> <!-- Uncomment if you import CSS in app/javascript/packs/application.js -->
    <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.44.2/mapbox-gl.css' rel='stylesheet' />
    <%= javascript_include_tag 'application' %>
    <%= javascript_pack_tag 'application' %>
  </head>
  <body>
    <% if params["controller"] != "devise/sessions" && params["controller"] != "devise/registrations" %>
      <%= render 'shared/navbar' %>
    <% end %>
    <%= render 'shared/flashes' %>
    <%= yield %>
  </body>
</html>
